@{
    ViewData["Title"] = "Home Page";
}
<main>
    <div class="text-center">
        <h1 class="display-4">Tienes que ayudar a Buzz a escapar</h1>
    </div>

    <div class="image-container">        
       <div class="image-container">
    <div class="image-item" onclick=window.location.href='@Url.Action("Tutorial","Home")'>
        <img src="/Images/IndexImg/Al_mcwighin.png" class="image">
        <div class="text">Tutorial</div>
    </div>
    
    <div class="image-item" onclick=window.location.href='@Url.Action("Comenzar","Home")'>
        <img src="/Images/IndexImg/Buzz_inicio.png" class="image">
        <div class="text">Jugar</div>
    </div>
    
    <div class="image-item" onclick=window.location.href='@Url.Action("Creditos","Home")'>
        <img src="/Images/IndexImg/Marcianitos.png" class="image">
        <div class="text">Créditos</div>
    </div>
</main>
<footer class="footer">
    <div class="footer-left">
        &copy; Sala de escape
    </div>
    <div class="footer-right">
        <div class="pista-menu">
            <img src="../Images/General/lupa.png" alt="Pista" class="img-pista">
        </div>
        <div class="boton-menu" id="reset">
            <button  onclick="window.location.href='@Url.Action("Resetear","Home")'">Reiniciar Juego</button>
        </div>
        <div class="boton-menu">
            <button id="boton-menu" onclick="window.location.href='@Url.Action("Index")'">Volver al menu</button>
        </div>

    </div>
</footer>





